name: Build / Test / Publish

on:
  push:
    tags: '**'
  pull_request:
    tags: '**'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: RUSTFLAGS="-D warnings" cargo build --release --verbose
    - name: Run unit tests
      run: cargo test --verbose
    - name: Run integration tests
      run: ./target/release/lucifer run -i ./tests/suite
    - name: Publish to Cargo
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      run: cargo publish --config version="${{ github.ref_name }}"
    - name: Create Release
      uses: ncipollo/release-action@v1.11.1
      with:
        bodyFile: release_notes.md
        draft: false
        name: ${{ github.ref_name }}
        prerelease: true   
    
