name: Build / Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --release --verbose
    - name: Run unit tests
      run: cargo test --verbose
    - name: Run integration tests
      run: |
        for suite in "./tests/suites"*
        do
          echo "running suite $suite"
          ./target/release/lucifer run -i $suite --silent
        done

# ✔️ Start
# Get previous version of lucifer (unavailable until release)
# ✔️ Build new lucifer version
# ✔️ Cargo Test new lucifer version
# Use old version to run new version across all tests, in all supported OS's
# ✔️ If any test fails, fail the build
# ✔️ Use new version to run itself 
#    - across all tests
#    - in all supported OS's
# ✔️ If any test fails, fail the build
# Push to (unfinished list):
# - cargo
# - yum
# - apt
# - apt-get
# - pacman
# - snap
# Report successful build status
